name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        {%- for python_version in range(
          cookiecutter.min_python_version | replace('3.', '') | int,
          cookiecutter.max_python_version | replace('3.', '') | int + 1
        ) %}
          - "3.{{ python_version }}"
        {%- endfor %}

    steps:
      - name: Checkout source
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Cache tox
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .tox
          key: tox-${{ '{{' }}hashFiles('pyproject.toml') {{ '}}' }}

      - name: Set up python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ '{{' }} matrix.python-version {{ '}}' }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: python -m pip install tox tox-gh

      - name: Test with tox
        run: tox run
