# This is a basic workflow to check for broken links with GitHub Actions

name: Link Checker

on:
  push:
    branches:
      - main
      - "renovate/**"
  pull_request:

jobs:
  link-checker:
    timeout-minutes: 2
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          # Exclude the image.sc forum and stackoverflow (which both work) but return 403 from
          # github runners and exclude relative links to other pages. Ignore
          # gnu.org and fsf.org because they're often down but are still the right
          # websites to link to!
          #
          # Ignore the whole of the project slug README since the links are
          # necessarily not real links - i.e. demos and to be filled by
          # cookiecutter values.
          args: "--verbose
            --exclude https://forum.image.sc/
            --exclude https://stackoverflow.com
            --exclude http://www.gnu.org
            --exclude http://fsf.org
            --exclude https://labs.quansight.org
            --exclude docs/pages
            --exclude docs/_includes
            --exclude-path '\\{\\{cookiecutter.project_slug\\}\\}/README.md'
            --exclude-path 'tests/data'
            -- ."
          fail: true
          jobSummary: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
