---
name: Update Tag

on:
  release:
    types:
      - published

env:
  TAG_NAME: latest

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Update latest tag
        run: |-
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag --force ${{ env.TAG_NAME }} ${{ github.ref_name }}
          git push origin ${{ env.TAG_NAME }} --force
